@if (list$ | async; as list) {
@for (item of list; track item.id) {
<div class="recipe" fxFlex="none" fxLayout="row" fxLayoutAlign="stretch center">
  <div class="image" style="background-image: url('{{item.image}}');" routerLink="/r/{{item.id}}" fxFlex="none">
    @if (item.state == 'archived') {
    <mat-icon class="state">archive</mat-icon>
    }
    @if (item.state == 'proposed') {
    <mat-icon class="state">add_diamond</mat-icon>
    }
  </div>
  <div class="info" routerLink="/r/{{item.id}}" fxFlex fxLayout="column">
    <span class="name">{{item.name}}</span>
    <span class="id">r/{{item.id}} · {{item.category}}{{(item.tags.length ? ' · ' : '') + item.tags.join(', ')}}</span>
  </div>
  <a routerLink="/edit/{{item.id}}" fxFlex="none">
    <button mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </a>
</div>
}
}
