.content {
  margin: 12px 20px;
}

mat-selection-list {
  max-height: 70vh;
  overflow: auto;
}

.edit-input {
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 20px;
}

textarea {
  font-size: large;
  padding: 0;
  border: 0;
  outline-offset: 12px;
}
