@if ((history$ | async)?.length) {
<div class="history" fxFlex="none" fxLayout="row">
  @for (entry of history$ | async; track entry.id) {
  <a class="entry" style="background-image: url('{{entry.image}}');" routerLink="r/{{entry.id}}">
  </a>
  }
</div>
}
<mat-tab-group fxFlex>
  @for (tab of tabs$ | async; track tab.category) {
  <mat-tab [label]="tab.label">
    <div fxLayout="row wrap">
      @for(recipe of tab.recipes; track recipe.id) {
      <a class="recipe" fxLayout="column" routerLink="r/{{recipe.id}}">
        <div class="image" style="background-image: url('{{recipe.image}}');">
          <span class="name">{{recipe.name}}</span>
        </div>
      </a>
      }
    </div>
  </mat-tab>
  }
</mat-tab-group>
