:host {
  position: relative;
  overflow: hidden;
  flex: 1;
}

.recipe {
  width: 50%;
  cursor: pointer;
}

.recipe .image {
  position: relative;
  height: 0;
  padding-bottom: calc(100% - 14px);
  margin: 6px;
  border: 1px solid lightgray;
  border-radius: 12px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  box-shadow: lightgray 3px 3px 6px -2px;
}

.recipe .image:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.55));
}

.recipe .name {
  position: absolute;
  bottom: 0;
  padding: 0 10px 10px;
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(252, 252, 252);
}
