<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" position="end">
    <div id="sidenav-content" fxLayout="column">
      <div id="app-icon-big" (click)="admin()"><img src="app-icon.png"></div>
      <mat-list (click)="sidenav.close()">
        <a mat-list-item routerLink="/">
          <mat-icon matListItemIcon fontIcon="dinner_dining"/>
          <span matListItemTitle>Rezepte</span>
        </a>
        @if ((properties$ | async)?.canEdit) {
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/new">
          <mat-icon matListItemIcon fontIcon="add"/>
          <span matListItemTitle>Neues Rezept</span>
        </a>
        <mat-divider></mat-divider>
        }
        <a mat-list-item routerLink="/shopping-list">
          <mat-icon matListItemIcon fontIcon="shopping_cart"/>
          <span matListItemTitle>Einkaufs-Liste</span>
        </a>
      </mat-list>
      <span fxFlex></span>
      <span class="credits">s&#8217;Chochbuech vom Fabian</span>
      <input #adminInput type="text">
    </div>
  </mat-sidenav>
  <mat-sidenav-content id="page-content" fxLayout="column">
    <mat-toolbar fxLayout="row">
      <button mat-icon-button (click)="router.navigate(['/'])">
        <img src="app-icon.png" alt="">
      </button>
      <span (click)="router.navigate(['/'])">Chochbuech</span>
      <span fxFlex></span>
      @if (router.url  == "/") {
      <a routerLink="/search">
        <button mat-icon-button aria-label="Suche">
          <mat-icon>search</mat-icon>
        </button>
      </a>
      }
      @if (router.url.startsWith("/r")) {
      <button mat-icon-button aria-label="Zur Einkaufsliste hinzufügen" (click)="$broadcast.addRecipeToShopping()">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
      }
      @if (router.url == "/shopping-list") {
      <button mat-icon-button aria-label="Entferne selektierte Produkte" (click)="$broadcast.shoppingListRemoveDone()">
        <mat-icon>remove_done</mat-icon>
      </button>
      }
      <button mat-icon-button aria-label="Menu öffnen" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>
