<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" position="end">
    <div id="sidenav-content" fxLayout="column">
      <div id="app-icon-big"><img src="app-icon.png"></div>
      <mat-list (click)="sidenav.close()">
        <a mat-list-item routerLink="/">
          <mat-icon matListItemIcon fontIcon="dinner_dining"/>
          <span matListItemTitle>Rezepte</span>
        </a>
        <a mat-list-item routerLink="/shopping-list">
          <mat-icon matListItemIcon fontIcon="shopping_cart"/>
          <span matListItemTitle>Einkaufs-Liste</span>
        </a>
      </mat-list>
      <span fxFlex></span>
      <span class="credits">s&#8217;Chochbuech vom Fabian</span>
    </div>
  </mat-sidenav>
  <mat-toolbar fxLayout="row">
    <button mat-icon-button (click)="router.navigate(['/'])">
      <img src="app-icon.png" alt="">
    </button>
    <span (click)="router.navigate(['/'])">Chochbuech</span>
    <span fxFlex></span>
    @if (router.url == "/shopping-list") {
    <button mat-icon-button aria-label="Entferne selektierte Produkte" (click)="sidenav.toggle()">
      <mat-icon>remove_done</mat-icon>
    </button>
    }
    <button mat-icon-button aria-label="Menu öffnen" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <router-outlet/>
</mat-sidenav-container>
