<div fxLayout="row">
  <picture-input class="image" [(image)]="image">
  </picture-input>
  <div fxFlex fxLayout="column">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput class="name" type="text" [(ngModel)]="recipe.name" fxFlex>
    </mat-form-field>
    <mat-radio-group [(ngModel)]="recipe.category" fxFlex fxLayout="row">
      <mat-radio-button [value]="CATEGORY.easy" color="primary" aria-label="einfach">
        <mat-icon>dinner_dining</mat-icon>
      </mat-radio-button>
      <mat-radio-button [value]="CATEGORY.hard" color="primary" aria-label="schwierig">
        <mat-icon>brunch_dining</mat-icon>
      </mat-radio-button>
      <mat-radio-button [value]="CATEGORY.starter" color="primary" aria-label="apéro">
        <mat-icon>tapas</mat-icon>
      </mat-radio-button>
      <mat-radio-button [value]="CATEGORY.dessert" color="primary" aria-label="dessert">
        <mat-icon>icecream</mat-icon>
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<mat-chip-listbox multiple [(ngModel)]="recipe.tags">
  @for (tag of TAGS; track $index) {
  <mat-chip-option [value]="tag" [aria-label]="tag">
    {{tag}}
  </mat-chip-option>
  }
</mat-chip-listbox>
<mat-form-field>
  <mat-label>Zutaten</mat-label>
  <textarea matInput class="ingredients" [(ngModel)]="recipe.ingredients" autoHeight fxFlex="none">
  </textarea>
</mat-form-field>
<mat-form-field>
  <mat-label>Rezept</mat-label>
  <textarea matInput class="steps" [(ngModel)]="recipe.steps" autoHeight fxFlex="none"></textarea>
</mat-form-field>
<mat-checkbox [(ngModel)]="recipe.archived">Archived</mat-checkbox>
<span style="min-height: 20px"></span>
<button mat-button="filled" [disabled]="!saveEnabled(recipe)" (click)="save(recipe, image)">
  Speichern
</button>
<span style="min-height: 40px"></span>
