<div fxLayout="row">
  <picture-input class="image" [(image)]="image">
  </picture-input>
  <div fxFlex fxLayout="column">
    <mat-form-field class="name">
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="recipe.name" fxFlex>
    </mat-form-field>
    <mat-radio-group [(ngModel)]="recipe.category" fxFlex fxLayout="row" fxLayoutAlign="space-around center">
      <mat-radio-button [value]="CATEGORY.easy" color="primary" aria-label="einfach">
        <mat-icon>dinner_dining</mat-icon>
      </mat-radio-button>
      <mat-radio-button [value]="CATEGORY.hard" color="primary" aria-label="schwierig">
        <mat-icon>brunch_dining</mat-icon>
      </mat-radio-button>
      <mat-radio-button [value]="CATEGORY.starter" color="primary" aria-label="apéro">
        <mat-icon>tapas</mat-icon>
      </mat-radio-button>
      <mat-radio-button [value]="CATEGORY.dessert" color="primary" aria-label="dessert">
        <mat-icon>icecream</mat-icon>
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<mat-chip-listbox multiple [(ngModel)]="recipe.tags">
  @for (tag of TAGS; track $index) {
  <mat-chip-option [value]="tag" [aria-label]="tag">
    {{tag}}
  </mat-chip-option>
  }
</mat-chip-listbox>
<mat-form-field>
  <mat-label>
    Zutaten
    <mat-icon [matTooltip]="INGREDIENTS_TOOLTIP" matTooltipClass="icon-tooltip" #tt1="matTooltip" (click)="tt1.show()">
      info_outline
    </mat-icon>
  </mat-label>
  <textarea matInput class="ingredients" [(ngModel)]="recipe.ingredients" autoHeight fxFlex="none">
  </textarea>
</mat-form-field>
<mat-form-field>
  <mat-label>
    Rezept
    <mat-icon [matTooltip]="RECIPE_TOOLTIP" matTooltipClass="icon-tooltip" #tt2="matTooltip" (click)="tt2.show()">
      info_outline
    </mat-icon>
  </mat-label>
  <textarea matInput class="steps" [(ngModel)]="recipe.steps" autoHeight fxFlex="none"></textarea>
</mat-form-field>
<button mat-stroked-button (click)="preview = !preview">
  {{preview ? 'Vorschau schliessen' : 'Vorschau'}}
</button>
<div class="preview {{preview ? 'show' : ''}}">
  <div class="card-preview" fxLayout="column">
    <div fxLayout="row">
      <span class="name" fxFlex>{{recipe.name}}</span>
    </div>
    @for (group of display.ingredientGroups; track $index) {
    @if (group.name) {
    <span class="ingredient-group-name">{{group.name}}</span>
    }
    <ul class="ingredient-group-list">
      @for (item of group.items; track $index) {
      <li>{{item}}</li>
      }
    </ul>
    }
    @if (display.preparation) {
    <div class="preparation">
      <b>Vorbereitung:</b> {{display.preparation}}
    </div>
    }
    <ol class="steps">
      @for (step of display.steps; track $index) {
      <li class="step">
        {{step}}
      </li>
      }
    </ol>
    <action-string class="notes" [value]="display.notes"></action-string>
  </div>
</div>
<mat-form-field>
  <mat-label>{{(app.properties$ | async)?.canEdit ? 'Author' : 'Dein Name'}}</mat-label>
  <input matInput type="text" [(ngModel)]="recipe.author" fxFlex="none">
</mat-form-field>
@if ((app.properties$ | async)?.canEdit) {
<mat-checkbox [(ngModel)]="recipe.archived">Archived</mat-checkbox>
<span style="min-height: 20px"></span>
}
@else {
<p>
Gerne nehme ich deinen Rezeptvorschlag entgegen. Bitte alle Felder ausfüllen und ein Bild
hinzufügen, dann den Vorschlag einreichen. Ich werde das Rezept prüfen und freischalten.
</p>
}
<div fxLayout="row">
  <button mat-stroked-button routerLink="/" fxFlex>
    Zurück
  </button>
  <div style="width: 20px" fxFlex="none"></div>
  <button mat-flat-button [disabled]="!saveEnabled(recipe, image)" (click)="save(recipe, image)" fxFlex>
    {{(app.properties$ | async)?.canEdit ? 'Speichern' : 'Vorschlag Einreichen'}}
  </button>
</div>
<span style="min-height: 40px"></span>
